<a href="https://colab.research.google.com/github/weathon/Chem-Lab-9/blob/LaTeX/CHEM_211_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pylab
import numpy as np
import pandas as pd
import tensorflow as tf

In [127]:
df = pd.read_csv("data.csv").replace(np.NaN,0)
mapping_keys = list(df["Class"].drop_duplicates())
map = {}
for i in range(len(mapping_keys)):
    map[mapping_keys[i]] = i

for key in mapping_keys:
    df.loc[df["Class"] == key,"Class"] = map[key]
Y_n = df["Class"]
filter = [name for name in df.columns if (not "CMPD" in name) and (not name in ["Class","Sample ID","THC","CBD"])]
df = df[filter]

Y = []
for i in Y_n:
  tmp = [0, 0, 0, 0]
  tmp[i] = 1
  Y.append(tmp)

In [118]:
indexs = np.arange(0,len(Y))
np.random.shuffle(indexs)
df = np.array(df)[indexs]
Y = np.array(Y)[indexs]

model = tf.keras.models.Sequential([
  tf.keras.layers.Input(shape=(len(df[0]))),
  tf.keras.layers.Dense(20, activation="relu"),
  tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(30, activation="relu"),
  tf.keras.layers.Dense(10, activation="relu"),
  tf.keras.layers.Dense(10),
  tf.keras.layers.Dense(4, activation="softmax"),
])
model.summary()
# print(model.output_shape)
model.compile(optimizer=tf.keras.optimizers.Adam(),
          loss='categorical_crossentropy',metrics=["accuracy"])

Model: "sequential_31"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_104 (Dense)           (None, 20)                200

 dropout_11 (Dropout)        (None, 20)                0

 dense_105 (Dense)           (None, 30)                630

 dense_106 (Dense)           (None, 10)                310

 dense_107 (Dense)           (None, 10)                110

 dense_108 (Dense)           (None, 4)                 44

=================================================================
Total params: 1,294
Trainable params: 1,294
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(df, Y, epochs=40, validation_split=0.2)

In [ ]:
df = np.array(df)

In [141]:
for i in range(10):
  data = df[i]
  count = [0,0,0,0]
  dis = {}
  for j in df:
    d = np.sum((data-j)**2)
    if d==0:
      continue
    dis[d]=Y[i]

  k = 5
  keys = dis.keys()
  keys = sorted(list(keys))
  voted = []
  for k in keys:
    voted.append(dis[k])

In [142]:
voted

[[1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0],
 [1, 0, 0, 0]]

In [140]:
keys

[0.1685520305659401,
 0.8385694885986336,
 4.58204023758193,
 5.913268433233372,
 8.731895144298106,
 16.453339220443645,
 16.710168654613184,
 27.8421778250814,
 29.16608225239204,
 29.328511579515634,
 29.379688668667413,
 30.382451310080032,
 35.499083087373855,
 36.5604463305413,
 36.848883070610704,
 42.45414929323277,
 44.270303527974356,
 142.166278317138,
 142.5069577549301,
 143.13310340832382,
 157.91656018056517,
 158.19369135905671,
 158.84369871365286,
 183.913401068598,
 183.9355847308612,
 184.18359836210533,
 205.90146611197733,
 206.68811409805795,
 207.041378797352,
 207.34718531514272,
 211.84187539567836,
 212.38892185432297,
 230.01537386195912,
 231.14549741950157,
 231.40193856754485]